<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.11/smart-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="app/module/ModuleStart.js" defer></script>
    <script src="app/controller/ProductController.js" defer></script>

    <style>
        .st-sort-ascent:before {
            content: '\25B2';
        }

        .st-sort-descent:before {
            content: '\25BC';
        }

        body {
            font-family: open-sans;
            font-size: 14px;
        }
    </style>
</head>

<body ng-app="productRepository" ng-controller="ProductController as ctrl">
    <div class="container">
        <h1>Repositório de Produtos</h1>
        <div ng-show="loading">
            <h3>Loading...</h3>
        </div>
        <div class="row well">
            <button type="button" class="btn btn-info pull-right" ng-click="ctrl.addRecord()">
                <i class="glyphicon glyphicon-plus"></i> Adiciona novo Produto
            </button>
        </div>
        <table st-table="display_records" st-safe-src="products" class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;" width="200px">Name</th>
                    <th style="text-align: center;" width="100px">Quantidade</th>
                    <th style="text-align: center;" width="100px"st-sort="costPrice">Preço de custo</th>
                    <th style="text-align: center;" width="100px"st-sort="salesPrice">Preço de Venda</th>
                    <th style="text-align: center;">Categoria</th>
                    <th style="text-align: center;">Ações</th>
                </tr>
                <tr>
                    <th colspan="5">
                        <input st-search placeholder="global search" class="input-sm form-control" type="search" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in ctrl.display_records">
                    <td style="text-align: center;">{{row.id}}</td>
                    <td style="text-align: center;">{{row.name}}</td>
                    <td style="text-align: center;">{{row.quantity}}</td>
                    <td style="text-align: center; color: #888; font-weight: bold;">{{row.cost_price | currency: "R$   "}}</td>
                    <td style="text-align: center; background-color: green; color: greenyellow; font-weight: bold;">{{row.sales_price | currency: "R$   "}}</td>
                    <td style="text-align: center;">{{row.category}}</td>
                    <td style="text-align: center;">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-info" ng-click="ctrl.viewRecord(row)">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button type="button" class="btn btn-warning" ng-click="editRecord(row.id)">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="deletRecord(row.id)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        
    </div>
</body>
</html>
